.codepen-section {
    
  --c-glass: #bbbbbc;
  --c-light: #fff;
  --c-dark: #000;
  --c-content: #224;
  --c-action: #0052f5;
  --c-bg: #e8e8e9;
  --liquid-glass-bg: hsl(0, 0%, 100%, 0.1);
  --glass-reflex-dark: 1;
  --glass-reflex-light: 1;
  --saturation: 150%;

    background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1549221838-126dc3ebf29f?q=80&w=2029&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.liquid-glass-wrapper {
  position: absolute;
  font-size: 20px;
  font-weight: 500;
  cursor: move;
  border-radius: 100px;
  user-select: none;
  border: none;
  width: 200px;
  padding: 15px;
  background: var(--liquid-glass-bg);
  backdrop-filter: brightness(1.1) blur(2px) url(#liquidGlass)
    saturate(var(--saturation));
  -webkit-backdrop-filter: blur(10px) saturate(var(--saturation));

  box-shadow:
    inset 0 0 0 1px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 10%),
        transparent
      ),
    inset 1.8px 3px 0px -2px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 90%),
        transparent
      ),
    inset -2px -2px 0px -2px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 80%),
        transparent
      ),
    inset -3px -8px 1px -6px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 60%),
        transparent
      ),
    inset -0.3px -1px 4px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 12%),
        transparent
      ),
    inset -1.5px 2.5px 0px -2px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
        transparent
      ),
    inset 0px 3px 4px -2px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
        transparent
      ),
    inset 2px -6.5px 1px -4px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
        transparent
      ),
    0px 1px 5px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
        transparent
      ),
    0px 6px 16px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 8%),
        transparent
      );
}
.liquid-glass-wrapper svg {
  display: none;
}

/* Not related to liquid glass CSS */
.text-wrapper {
  background: white;
  color: black;
  position: absolute;
  right: 0;
  padding: 15px;
  border-radius: 8px;
  margin-right: 10px;
}
