/* Contact Page CSS */
#contact-me-text{
    max-width: 700px;
    margin-top:20px ;
    text-wrap:wrap;

}
.contact-page{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.send-mail-link{
    background-color: #50B077;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    text-decoration: none;
    font-family: sanf-bold;
    width: 150px;
    display: flex;
    justify-content: center;
    padding:12px ;
    border-radius: 5px;
    transition: 0.6s ease;
    font-size: 20px;
    
}
.send-mail-link:hover{
    background-color: #3e875b;
    cursor: pointer;

}
.social-links-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.social-links img{
    width: 50px;
    filter: invert(16%) sepia(97%) saturate(2365%) hue-rotate(223deg) brightness(112%) contrast(115%);
    height: 50px;
    border-radius: 12px;
    transition: 0.4s ease;
    cursor: pointer;
}
.contact{
    animation: fadeIn 1s ease;
}
.margin-left{
    margin-left: 70px;
}
.no-padding{
    padding:0px !important;
}
/* About me Page CSS */
.about-me-page{
    animation: fadeIn 2s ease;
}
.aboutme-page-container{
    /* padding-top: 100px;
    padding-bottom: 100px; */
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.left-side-pic img{
    max-height: 500px;
    min-width: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.no-bottom-padding{
padding-bottom: 0px;
}
.no-top-padding{
    padding-top: 20px !important;
}
.flex-row{
    flex-direction: column;
}
@media only screen and (max-width: 900px) {
    .aboutme-page-container{
        flex-direction: column;
    }
}
@media only screen and (min-width: 600px) {

}
@media only screen and (max-width: 700px) {
    .aboutme-page-container{
        margin: 0;
    }
}

.medium-heading{
    font-size: 20px;
    font-family: sanf-bold;
}
.bold-text{
    font-family: sanf-bold;
    
}
.about-me-text{
    padding-top: 10px;
    font-family: r-light;
    font-size: 18px;
  
}
.center{
    text-align: center;
}
.center div{
    justify-content: center;
}

/* for blur load image */
.blur-load{
   background-image: url("../assets/images/blur-load.png");
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 10px;
   box-sizing: border-box;
}
.blur-load.loaded > img{
    opacity: 1;
}
.blur-load > img{
    opacity: 0;
    transition: opacity 0.6s ease;
}
#blurProject01{
    background-image: url("../assets/images/blur-load.png");
}


/* Projects Pages CSS */
.project-view-page-container{
    /* margin-left: 70px; */
    padding: 20px;
    min-height: 100vh;
    padding-top: 80px;
}
.project-links{
   padding-top: 20px;
   padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content:space-between ;
}
.project-screenshots-gallery{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.project-screenshots-gallery img{
    width: 700px;
    object-fit: contain;
}
.bold{
    font-family: r-medium;
}
.key-heading{
    font-family: sanf-bold;
    color:var(--secondary-black);
    font-size: 20px;
}

@media only screen and (max-width: 700px) {
    .project-view-page-container{
        margin: 0px;
    }
}
@media only screen and (max-width: 810px) {
    .project-screenshots-gallery img{
        width: 100%;
    }
}
