.MySkills-Container{
    display: flex;
    width: 100%;
    min-height: 400px;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.my-skills-heading{
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sanf-bold;
}
.skills-container{
    gap:20px;
    position: relative;
    height: 100%;
    margin-left: 20px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.skills-container::-webkit-scrollbar {
	display: none;
}
.skills-box{
    position: relative;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    flex: 1 0 160px;
    width: 180px;
    scroll-snap-align: start;
    
}
.html-skill{
    background-color:#f9c1a9;
}
.css-skill{
    background-color:#adddf1;
}
.js-skill{
    background-color: #fcf2a5;
}
.react-skill{
    background-color:#99efff;
}
.figma-skill{
    background-color: #9deccd; 
}
.flutter-skill{
    background-color: #b5e8fd; 
}
.php-skill{
    background-color: #cfd3e5;
}
.mysql-skill{
    background-color: #afbec6;
}
.skill-box-image img{
    height: 80px;
    width: 80px;
    cursor: pointer;
}
.skill-box-heading{
    font-size: 22px;
    padding-top: 10px;
    font-family: sanf-bold;
    cursor: pointer;
    color: black;
}
.skill-box-text{
    font-family: r-regular;
    font-size: 16px;
    text-align: left;
    color:black;
}


@media only screen and (max-width: 480px) {
    .skill-box-heading{
        font-size: 22px;
    }
}