@font-face {
  font-family:Sanf ;
  src: url(./fonts/sanf/SFNSDisplay-Regular.otf);
}
@font-face {
  font-family:Sanf-light ;
  src: url(./fonts/sanf//SFNSDisplay-Light.otf);
}
@font-face {
  font-family:Sanf-bold ;
  src: url(./fonts/sanf//SFNSDisplay-Bold.otf);
}
*{
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}
html, body{
  overflow-x: hidden;
}
body {
  font-family:Sanf ;
  overflow-x: hidden;
  overscroll-behavior: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
